{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock css %}

{% block content %}

<section class="container">
  <!--상단부 시작-->
  <div class="d-flex align-items-center justify-content-around">
    <!--책 이미지-->
    <div class="img_box">
      <img src="{% static 'images/book.gif' %}" alt="">
    </div>
    <!--책 정보 시작-->
    <div>
      <table class="table" style="width: 600px;">
        <!--테이블 비율-->
        <colgroup>
          <col width="20%" /><!--No.-->
          <col width="80%" /><!--도서명-->
        </colgroup>
        <tbody>
          <tr>
            <th scope="row">제목</th>
            <td>책이름</td>
          </tr>
          <tr>
            <th scope="row">장르</th>
            <td>스릴러?</td>
          </tr>
          <tr>
            <th scope="row">가격</th>
            <td>10,000원</td>
          </tr>
          <tr>
            <th scope="row">줄거리</th>
            <td>생략표시로 처리예정</td>
          </tr>
          <tr>
            <th scope="row">매칭수</th>
            <td>해당도서로 매칭된 횟수</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--책 정보 종료-->
  </div>
  <!--상단부 종료-->

  <!--하단 리뷰카드,리뷰작성버튼 시작-->
  <div>
    <!--리뷰작성 버튼-->
    <div class="d-grid justify-content-center mt-3">
      <a href="{% url 'review:create' %}" class="btn btn_1">리뷰작성</a>
    </div>
    <!--리뷰카드 시작-->
    
  </div>
</section>

{% endblock content %}