{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}
{% block content %}
<section class="pt-5 pb-3">
  <!--상단 캐러셀 시작-->
  <h1 class="title_font mb-1 ">장르별 최고 평점 도서</h1>
  <div id="carouselExampleControls_1" class="carousel slide" data-bs-ride="carousel" style="height: 450px">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          {% for book in genre_1 %}
          <div class="card" style="width: 230px;">
            <a href="{% url 'review:detail' book.pk %}" class="">
              <div class="img_box d-flex align-items-center justify-content-center">
                {% if book.image_set.all.0.image %}
                <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
                {% else %}
                <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
                {% endif %}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text">공포/추리</p>
                <p class="card-text">평점: {{book.grade}}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          {% for book in genre_2 %}
          <div class="card" style="width: 230px;">
            <a href="{% url 'review:detail' book.pk %}" class="">
              <div class="img_box d-flex align-items-center justify-content-center">
                {% if book.image_set.all.0.image %}
                <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
                {% else %}
                <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
                {% endif %}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text">판타지</p>
                <p class="card-text">평점: {{book.grade}}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          {% for book in genre_3 %}
          <div class="card" style="width: 230px;">
            <a href="{% url 'review:detail' book.pk %}" class="">
              <div class="img_box d-flex align-items-center justify-content-center">
                {% if book.image_set.all.0.image %}
                <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
                {% else %}
                <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
                {% endif %}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text">로맨스/가족</p>
                <p class="card-text">평점: {{book.grade}}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          {% for book in genre_4 %}
          <div class="card" style="width: 230px;">
            <a href="{% url 'review:detail' book.pk %}" class="">
              <div class="img_box d-flex align-items-center justify-content-center">
                {% if book.image_set.all.0.image %}
                <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
                {% else %}
                <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
                {% endif %}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text">역사/철학</p>
                <p class="card-text">평점: {{book.grade}}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          {% for book in genre_5 %}
          <div class="card" style="width: 230px;">
            <a href="{% url 'review:detail' book.pk %}" class="">
              <div class="img_box d-flex align-items-center justify-content-center">
                {% if book.image_set.all.0.image %}
                <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
                {% else %}
                <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
                {% endif %}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text">정치/경제</p>
                <p class="card-text">평점: {{book.grade}}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_1"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_1"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--상단 캐러셀 종료-->
  <!--작은 캐러셀 시작-->
  <div class="container-fluid mt-1 mb-5">
    <div id="carouselExampleControls_2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center gap-4">
            <div class="card d-flex justify-content-center" style="width: 400px; height: 130px;">
              <h1 class="title_font">Top 10 도서 목록</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <div class="row justify-content-center gap-4">
            {% for book in book_top10 %}
            {% if forloop.counter <= 5 %} <div class="card col-auto" style="width: 130px;">
              <a href="{% url 'review:detail' book.pk %}" class="">
                <div class="img_box d-flex align-items-center justify-content-center">
                  {% if book.image_set.all.0.image %}
                  <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
                  {% else %}
                  <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
                  {% endif %}
                </div>
              </a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <div class="row justify-content-center gap-4">
          {% for book in book_top10 %}
          {% if forloop.counter >= 6 %}
          <div class="card col-auto" style="width: 130px;">
            <a href="{% url 'review:detail' book.pk %}" class="">
              <div class="img_box d-flex align-items-center justify-content-center">
                {% if book.image_set.all.0.image %}
                <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
                {% else %}
                <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
                {% endif %}
              </div>
            </a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_2" data-bs-slide="prev"
      style="width: 10%;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_2" data-bs-slide="next"
      style="width: 10%;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  <!--작은 캐러셀 종료-->

  <!-- 여기부터 글쓰기 및 유저 정보 페이지 팔로우 확인용 시험 코드라서 디자인 바꾸실거면 자유롭게 바꾸셔도 되는데, 없애진 말고 주석으로 남겨주세요-->
  <a href="{% url 'book:create' %}" class="text-dark btn btn-info" style="writing-mode: vertical-rl;float: left;">도서 정보
    생성</a>


  <!--장르별 리뷰 최신 도서-->
  <div class="container-fluid" style="width: 60%;">
    <!-- 1번 장르 -->
    <div id="genre_book1" class="border border-1 p-2 mt-2 mb-2">
      <h3 class="title_font">공포/추리 장르 NEW 리뷰</h3>
      <div class="row justify-content-center gap-5">
        {% for book in new_book_1 %}
        <div class="card col-auto" style="width: 180px;">
          <a href="{% url 'review:detail' book.pk %}" class="">
            <div class="img_box d-flex align-items-center justify-content-center">
              {% if book.image_set.all.0.image %}
              <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
              {% else %}
              <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">평점: {{book.grade}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- 2번 장르 -->
    <div id="genre_book2" class="border border-1 p-2 mt-2 mb-2">
      <h3 class="title_font">판타지 장르 NEW 리뷰</h3>
      <div class="row justify-content-center gap-5">
        {% for book in new_book_2 %}
        <div class="card col-auto" style="width: 180px;">
          <a href="{% url 'review:detail' book.pk %}" class="">
            <div class="img_box d-flex align-items-center justify-content-center">
              {% if book.image_set.all.0.image %}
              <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
              {% else %}
              <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">평점: {{book.grade}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- 3번 장르 -->
    <div id="genre_book3" class="border border-1 p-2 mt-2 mb-2">
      <h3 class="title_font">로맨스/가족 장르 NEW 리뷰</h3>
      <div class="row justify-content-center gap-5">
        {% for book in new_book_3 %}
        <div class="card col-auto" style="width: 180px;">
          <a href="{% url 'review:detail' book.pk %}" class="">
            <div class="img_box d-flex align-items-center justify-content-center">
              {% if book.image_set.all.0.image %}
              <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
              {% else %}
              <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">평점: {{book.grade}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- 4번 장르 -->
    <div id="genre_book4" class="border border-1 p-2 mt-2 mb-2">
      <h3 class="title_font">역사/철학 장르 NEW 리뷰</h3>
      <div class="row justify-content-center gap-5">
        {% for book in new_book_4 %}
        <div class="card col-auto" style="width: 180px;">
          <a href="{% url 'review:detail' book.pk %}" class="">
            <div class="img_box d-flex align-items-center justify-content-center">
              {% if book.image_set.all.0.image %}
              <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
              {% else %}
              <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">평점: {{book.grade}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- 5번 장르 -->
    <div id="genre_book5" class="border border-1 p-2 mt-2 mb-2">
      <h3 class="title_font">정치/경제 장르 NEW 리뷰</h3>
      <div class="row justify-content-center gap-5">
        {% for book in new_book_5 %}
        <div class="card col-auto" style="width: 180px;">
          <a href="{% url 'review:detail' book.pk %}" class="">
            <div class="img_box d-flex align-items-center justify-content-center">
              {% if book.image_set.all.0.image %}
              <img src="{{ book.image_set.all.0.image.url }}" alt="{{book.title}}_img">
              {% else %}
              <img src="{% static 'images/dummy-image-square.jpg' %}" alt="dummy_img">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">평점: {{book.grade}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
  <!-- 리뷰 유저 프로필 부분이라 임시로 주석처리 합니다
    {% for review in reviews %}
    
    <div class="profile_box">
      {% if request.user != review.user %}
      <a href="{% url 'accounts:open_profile' review.user.pk %}" class="text-dark">
      {% else %}    
      <a href="{% url 'accounts:profile' review.user.pk %}" class="text-dark">
      {% endif %}  
      
        {% if review.user.profile.image %}                        
        <img class="profile_img" src="{{ review.user.profile.image.url }}">
        {% else %}
        <img src="{% static 'images/no-profile.jpg' %}" alt="" class="rounded-2 border border-1" width="40px">
        {% endif %}
      </a>
    </div>
    <span class=""> {{ review.user.profile.nickname  }}</span>
    {% for tag in review.tags.all %}
      <span>#{{tag.name}}</span>
    {%endfor%}
    {% endfor %}
  -->

  <!-- 여기까지 글쓰기 및 유저 정보 페이지 팔로우 확인용 시험 코드라서 디자인 바꾸실거면 자유롭게 바꾸셔도 되는데, 없애진 말고 주석으로 남겨주세요 -->
</section>
{% endblock %}