{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}
{% block content %}

<div class="container-fluid mt-5 mb-5">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner bg-dark">
      <div>

      </div>
      {% for book in books %}
      <div class="carousel-item {% if book.id == 1 %}active{% endif %}" style="width: 300px;">
        <a href="{% url 'review:detail' book.pk %}">
          {% if book.image_set.all.0.image %}
          <img src="{{ book.image_set.all.0.image.url }}"  alt="{{book.title}}_img">
          {% else %}
          <img src="{% static 'images/dummy-image-square.jpg' %}"  alt="dummy_img">
          {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- 여기부터 글쓰기 및 유저 정보 페이지 팔로우 확인용 시험 코드라서 디자인 바꾸실거면 자유롭게 바꾸셔도 되는데, 없애진 말고 주석으로 남겨주세요-->
<!--임시로 캐러셀 만들어 도서디테일 연결했습니다.-->
<a href="{% url 'book:create' %}" class="text-dark">도서 정보 생성</a>
{% for review in reviews %}
<img class="feed_img" src="{{ article.photo_set.all.0.image.url }}">
        <div class="profile_box">
          {% if request.user != review.user %}
            <a href="{% url 'accounts:open_profile' review.user.pk %}" class="text-dark">
          {% else %}    
            <a href="{% url 'accounts:profile' review.user.pk %}" class="text-dark">
          {% endif %}   
            {% if review.user.profile.image %}                        
            <img class="profile_img" src="{{ review.user.profile.image.url }}">
            {% else %}
            <img src="{% static 'images/no-profile.jpg' %}" alt="" class="rounded-2 border border-1" width="40px">
          {% endif %}
          </a>
        </div>
  
        <span class=""> {{ review.user.profile.nickname  }}</span>

       
        {% for tag in review.tags.all %}
         <span>#{{tag.name}}</span>
         {%endfor%}
        {% endfor %}

<!-- 여기까지 글쓰기 및 유저 정보 페이지 팔로우 확인용 시험 코드라서 디자인 바꾸실거면 자유롭게 바꾸셔도 되는데, 없애진 말고 주석으로 남겨주세요 -->
{% if request.user.is_authenticated %}
{% comment %} 쪽지 알람 {% endcomment %}
<a href="#" class="mailbox_label svg_all" title="전체메일">전체메일</a>
{% endif %}
{% endblock %}