{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block content %}

<section class="container pt-5 pb-3">
  <h1 class="title_font">{{ search_keyword }}의 검색결과 입니다.</h1>
  <div class="row gap-3 mt-5">
    {% for book in search_books %}
      <div class="d-flex justify-content-center">
        <div class="card col-auto" style="width: 230px;">
          <a href="{% url 'review:detail' book.pk %}" class="">
            <div class="img_box d-flex align-items-center justify-content-center">
              {% if book.image_set.all.0.image %}
              <img src="{{ book.image_set.all.0.image.url }}"  alt="{{book.title}}_img">
              {% else %}
              <img src="{% static 'images/dummy-image-square.jpg' %}"  alt="dummy_img">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">book모델에 평점추가해야함</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}