{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/match_create.css' %}">
{% endblock css %}

{% block content %}
<div style="background-color: #ffffff">
  <div class="container my-5 justify-content-center " style="display: flex; min-height:900px;">
    <div class="create_box rounded-3 p-3">
      {% if request.resolver_match.url_name == 'match_create' %}
      <h1 style="font-family: 'East Sea Dokdo', cursive;font-size: 5rem;display:inline; "> 매칭 후기 작성 </h1><small
        style="font-family: 'East Sea Dokdo', cursive; font-size:1.5rem">(신중하게
        작성해주세요)</small>
      {% else %}
      <h1> 매칭 후기 수정 </h1>
      {% endif %}

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form match_review_form %}
        <div class="mt-2" style="display: flex;
        justify-content: center;">
          <input type="image" src="https://img.seoul.co.kr/img/upload/2014/04/14/SSI_20140414231619_O2.jpg"
            class="btn btn-success"
            onMouseOver="this.src='https://www.culture.go.kr/ptn/images/3c/09/3c09db5958de4bf18c4b1a363920949c.png'"
            alt="본 저작물은  '문화포털' 에서 서비스 되는 전통문양을 활용하였습니다."
            onMouseOut="this.src='https://img.seoul.co.kr/img/upload/2014/04/14/SSI_20140414231619_O2.jpg'" style="border: white;
      background-color: rgba(255,255,255,0);
      width: 100%;
      max-width: 300px;
    border-radius: 30px;">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}