{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-3">
    <div class="search-box-m">
      <form action="" method="get">
        {% csrf_token %}
        <input class="search-txt-m" id="search" type="search" placeholder="매칭 상대 검색" size="14" name="q" value="{{q}}"
          style="vertical-align: top;">
        <button class="search-btn-m" id="searchBtn" type="submit" maxlength="50">
          <img src="{% static 'images/book2.jpg' %}" alt="" class="jb-b-m"
            style="width: 100%; max-width: 23px; margin-right:5px; margin-top: 91px; top: 0px; position:absolute;">
          <img src="{% static 'images/book.gif' %}" alt="" class="jb-c-m"
            style="width: 100%; max-width: 23px; margin-top: 91px; margin-right: 5px;">
        </button>
        <section class="container_" style="list-style: none;">
        </section>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

<div class="container">
  <div id="list" class="row row-cols-2">
    <!-- 여기는 자바스크립트에서 데이터를 추가-->
  </div>
</div>

{% endblock %}