{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-3">
    <div class="search-box-m">
      <form action="" method="get">
        {% csrf_token %}
        <input class="search-txt-m" id="search" type="search" placeholder="매칭 상대 검색" size="14" name="q" value="{{q}}"
          style="vertical-align: top;">
        <button class="search-btn-m" id="searchBtn" type="submit" maxlength="50">
          <img src="{% static 'images/book2.jpg' %}" alt="" class="jb-b-m"
            style="width: 100%; max-width: 23px; margin-right:5px; margin-top: 91px; top: 0px; position:absolute;">
          <img src="{% static 'images/book.gif' %}" alt="" class="jb-c-m"
            style="width: 100%; max-width: 23px; margin-top: 91px; margin-right: 5px;">
        </button>
        <section class="container_" style="list-style: none;">
        </section>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

<div class="container">
  <div id="list" class="row row-cols-2">
    {% for profile_ in profile %}
    <a>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0"
          style="background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);color: black;border: 2px solid black; cursor: pointer;">
          <div class="col-md-5" style="width: 42.3%; height: 227px;">
            {% if profile_.image %}
            <img src='{{ profile_.image.url }}' alt='${book.name}' style="width: 100%; max-width: 180px; margin: 30px;">
            {% else %}
            <img src="{% static 'images/no-profile.jpg' %}" alt='${book.name}' style="width: 100%; max-width: 180px;  margin: 30px;">
            {% endif %}
            <p style="font-weight: bolder; text-align: center; font-size: 25px; margin-left: 20px; margin-top: -10px;">
              {{profile_.nickname}}
          </div>
          <div class="col-md-7" style="width: 100%; max-width: 300px;">
            <div class="card-body" style="margin-top: 20px; font-weight: bold">
              <p class="card-text"></p>
              <p class="card-text">선호 나이 </p>
              <p class="card-text">활동 지역<br>
                <small class="text-muted">(정보불러오는곳)</small>
              </p>
              <p class="card-text">팔로워or매너지수<small class="text-muted">(수치 불러오는곳)</small></p>
              <button class="w-btn-neon2" style="z-index: 1; margin-left: 15%;" type="button"
                href="">리뷰 보기 </button>
            </div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}