{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/pro_index.css' %}">
{% endblock css %}
{% block content %}

<section class="container mt-3 mb-5">
  <!--상단부 시작-->
  <div class="top_banner border border-1 rounded-3 bg-black bg-opacity-10 row m-0 mt-3 mb-3">
    <!--좌측 텍스트/가입버튼-->
    <div class="col-auto">
      <h1>좋은 독토</h1>
      <h1>빨리 찾는, 독토</h1>
      <p>1:1 독서 토론 매칭 사이트</p>
      <a href="{% url 'accounts:signup' %}" class="btn btn_1 mt-3 mb-3">가입하기</a>
    </div>
    <!--우측 이미지-->
    <div class="col-auto img_box p-1">
      <img src="{% static 'images/pro_index_back.jpg' %}" alt="" class="rounded-3">
    </div>
  </div>
  <!--상단부 종료-->

  <!--하단부 시작-->
  <div class="mid_banner border border-2 rounded-3 bg-white border-dark mt-3 mb-3">
    <h1 class="text-center mt-3 mb-3">독토가 궁금하신가요?</h1>
    <div class="row gap-3 justify-content-around text-center mt-3 mb-3">
      <h3 class="col-auto">독토를 어떻게 믿죠?</h3>
      <h3 class="col-auto">독토의 매칭 기준이란?</h3>
      <h3 class="col-auto">독토 요청은 어떻게 하나요?</h3>
    </div>
    <!--FAQ 버튼-->
    <div class="text-center mt-3 mb-3">
      <button class="w-btn-neon2" type="button" href="#">
        FAQ로 더 알아보기
      </button>
    </div>
  </div>
  <!--하단부 종료-->
</section>

{% endblock %}