<header class="page-header">
  <div class="container ">
    <h2>Felipe</h2>
  </div>
</header>
<div class="main">
  <div class="container ">
    <div class="chat-log">
      <div class="chat-log__item">
        <h3 class="chat-log__author">Felipe <small>14:30</small></h3>
        <div class="chat-log__message">{{ request.user }}</div>
      </div>
      <div class="chat-log__item chat-log__item--own">
        <h3 class="chat-log__author">Fabrício <small>14:30</small></h3>
        <div class="chat-log__message">{{ request.user }}</div>
      </div>
    </div>
  </div>
  <div class="chat-form">
    <div class="container ">
      <form class="form-horizontal">
        <div class="row">
          <div class="col-sm-10 col-xs-8">
            <input type="text" class="form-control" id="" placeholder="Message" />
          </div>
          <div class="col-sm-2 col-xs-4">
            <button type="submit" class="btn btn-success btn-block">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>