{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<br><br>
<div class="containers">
    <h3 class="text-center">책 토론방</h3>
    <div class="mesgs_container">
        <div class="msg_history" id="chat-messages">
            {% for message in messages %}
            {% if request.user.username == message.user.username %}
            <div class="outgoing_msg">
                <div class="incoming_msg_img">
                    <img src="{% static 'images/no-profile.jpg' %}" class="incoming_msg_img_img">
                </div>
                <div>

                    <p class="font-bold">{{ message.user.username}}</p>
                </div>
                <div class="received_msg ">
                    <div class="received_withd_msg">
                        <p >{{ message.content }}</p>
                        <span class="time_date">{{ message.created_at }}</span>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="incoming_msg">
                <div class="incoming_msg_img">
                    <img src="{% static 'images/no-profile.jpg' %}" class="incoming_msg_img_img">
                </div>
                <div>
                    <p class="font-bold">{{ message.user.username}}</p>
                </div>
                <div class="received_msg">
                    <div class="received_withd_msg">
                        <p >{{ message.content }}</p>
                        <span class="time_date">{{ message.created_at }}</span>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="type_msg">
        <form method="POST" action="" class="flex">
            {% csrf_token %}
            <input type="text" name="content" class="text_box" placeholder="메시지 입력하세요" id="chat-message-input">
            
            <button class ="btn btn-dark" id="chat-message-submit" >메시지 입력</button>
        </form>
    </div>
</div>

{% endblock content %}

{% block script %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<!-- 날짜를 한국 날짜 시간으로 표현하기 위해 url 링크 가져옴 -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/locale/ko.js"></script>
{{ room|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username"}}
{{ message.user.username|json_script:"json-messagename"}}
<script type="text/javascript">
    const roomName = JSON.parse(document.getElementById("json-roomname").textContent);
    const userName = JSON.parse(document.getElementById("json-username").textContent);
    const messageName = JSON.parse(document.getElementById("json-messagename").textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );
    chatSocket.onopen = function(e) {
        console.log('onopen')

        const message = userName + "님이 입장하였습니다." 
        chatSocket.send(JSON.stringify({
            'message':message,
            'username':userName,
            'room':roomName,
        }));

        return false;
        
    }
    /* 날짜를 ko 한국시간 기준으로 출력하겠다 */
    moment.locale('ko');
    chatSocket.onmessage = function(e) {
        console.log('onmessage')
        /* 서버로부터 데이터 받기 */
        const data = JSON.parse(e.data);
        /* test */
        if (data.message) {
            if (data.message.indexOf('입장하였습니다') != -1 ){
            let html = '<div class="inbox_msg">';
            html += '<div class="mesgs">';
            html += '<p class="font-bold entering">'+ data.message + '</p>';
            html += '</div>';
            document.querySelector('#chat-messages').innerHTML += html;
            }
            else if (userName == data.username){
            let html = '<div class="outgoing_msg">';
                html += '<div class="incoming_msg_img">';
                html += '</div>';
                html += '<div>';
                html += '<p class="font-bold">' + data.username + '</p></div>';
                html += '<div class="received_msg ">';
                html += '<div class="received_withd_msg">';
                html += '<p >' + data.message + '</p>';
                html += '<span class="time_date">' + moment().format('YYYY년 MMMM Do h:mm a')+ '</span></div>'
                html += '</div></div>';
            document.querySelector('#chat-messages').innerHTML += html;
            }
            else if(userName != data.username) {
                let html = '<div class="incoming_msg">';
                html += '<div class="incoming_msg_img">';
                html += '</div>';
                html += '<div>';
                html += '<p class="font-bold">' + data.username + '</p></div>';
                html += '<div class="received_msg ">';
                html += '<div class="received_withd_msg">';
                html += '<p >' + data.message + '</p>';
                html += '<span class="time_date">' + moment().format('YYYY년 MMMM Do h:mm a')+ '</span></div>'
                html += '</div></div>';
            document.querySelector('#chat-messages').innerHTML += html;
            }
            

        } else {
            alert('글을 작성해주세요!')
        }
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }
    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        /* test */
        chatSocket.send(JSON.stringify({
            'message':message,
            'username':userName,
            'room':roomName,
        }));
        messageInputDom.value = '';

        return false;
    }
    const scrollMove = () => {
    let location = document.querySelector('#chat-message').offsetTop;
    window.scrollTo({top: location, behavior: "smooth"});
    };
</script>

{% endblock script %}