.chat-income{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containers {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
}
.mesgs_container {
  float: left;
  max-width: 1000px;
  margin: 0;
  border: 1px solid #c4c4c4;
  border-radius: 5%
}
.msg_history {
  padding: 30px 100px 30px 100px;
  height: 750px;
  flex-direction: column;
  overflow-y: auto;
}
.mesgs {
  float: left;
  width: 60%;
  justify-content: center;
  align-items: center;
}
.inbox_msg {
  display: flex;
  justify-content: center;
  align-content: center;
}
.type_msg {
  text-align: center;
}
.text_box {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.entering {
  margin: 0;
  text-align: center;
}
.chat-messages {
  padding: 10px 0 10px 0;
  width: auto;
  height: auto;
}
.incoming_msg {
  width: auto;
  height: auto;
  box-sizing: content-box;
  padding: 10px 0 10px 0;
  display: flex;
  /* flex-direction: row-reverse; */
}
.incoming_msg_img {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: 6%;
}
.incoming_msg_img_img {
  vertical-align: middle;
  border-style: none;
  display: inline-block;
  width: 100%;
  border-radius: 30px;
}
.received_withd_msg {
  padding: 0 0 0 5px;
}
.received_withd_msg p{
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 10px;
  width: 100%;
}
.received_msg {
  max-width: 250px;
  width: max-content;
  word-break: break-all; 
  padding: 0 5px 0 0;
}
.outgoing_msg {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  height: auto;
  box-sizing: content-box;
  padding: 10px 0 10px 0;
}
.time_date {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 10px;
  width: 100%;
  text-align: end;
}
.text-box {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 10px;
  width: 100%;
}