/* 검색창 시작*/
.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 44%;
  padding: 0px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 0px 0 2px #30950e;
}

.search-btn {
  color: #8380a7;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}


.search-txt {
  vertical-align: text-top;
  height: 27px;
  padding-inline-start: 10px;
  background: none;
  border: none;
  outline: none;
  color: #000000;
  font-size: 20px;
  margin-inline-end: 6px;
}

.jb-c {
  position: absolute;
  top: 0px;
  display: none;
}

.search-btn:hover .jb-b {
  visibility: hidden;
}

.search-btn:hover .jb-c {
  display: block;
}


.clicked {
  margin-left: 0px;
  border-radius: 6px 0 0 6px;
  outline: rgb(255, 255, 255);
  box-shadow: 0px 0px 0 2.6px rgb(1 255 0 / 96%);
}


* {
  box-sizing: borer-box;
}

ul {
  list-style-type: none;
}

input,
button {
  padding: 5px 10px;
}

#list {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#list>li {
  margin-bottom: 20px;
  flex-basis: 10%;
}

#list>li>img {
  width: 80%;
}

/* 검색창 끝 */
/* nav바 */
.nav-style {
  width: 75px;
  background-color: rgb(255, 121, 40);
  border-radius: 19px;
  border: 1px solid rgb(255, 121, 40);
  box-shadow: 0.1em 0.1em 5px 1px #dcdcdc;
}

/* nav바 */