/*전체 영향 css*/

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* 메인 검색창 시작*/
.search-box {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  padding: 0px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 0px 0 2px #30950e;
}

.search-btn {
  color: #8380a7;
  float: right;
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 5px 10px;
}

.search-btn img {
  width: 10%;
  position: absolute;
  top: 3px;
}

.search-txt {
  vertical-align: text-top;
  height: 27px;
  padding-inline-start: 10px;
  background: none;
  border: none;
  outline: none;
  color: #000000;
  font-size: 20px;
  margin-inline-end: 6px;
  margin-bottom: 2px;
}

.jb-c {
  display: none;
}

.search-btn:hover .jb-b {
  visibility: hidden;
}

.search-btn:hover .jb-c {
  display: block;
}

/*메인 검색창 끝*/


/* matching 검색창 시작  transform: translate(-50%, -50%);*/

.search-box-m {
  height: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 230px;
  padding: 0px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 0px 0 2px #33ccff;
  margin-left: 140px;
  width: 100%;
  max-height: 30px;
}

.search-btn-m {
  color: #8380a7;
  float: right;
  width: 30px;
  height: 21px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}


.search-txt-m {
  vertical-align: text-top;
  height: 27px;
  padding-inline-start: 10px;
  background: none;
  border: none;
  outline: none;
  color: #000000;
  font-size: 20px;
  margin-inline-end: 6px;
  margin-bottom: 4.4px;
}

.jb-c-m {
  position: absolute;
  top: 0px;
  display: none;
}

.search-btn-m:hover .jb-b-m {
  visibility: hidden;
}

.search-btn-m:hover .jb-c-m {
  display: block;
}


/* matching검색창 끝 */

/*매칭 */

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.w-btn-neon2 {
  position: relative;
  border: none;
  min-width: 200px;
  min-height: 50px;
  background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
  border-radius: 10px;
  color: darkslategray;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
  font-weight: 700;
  transition: 0.3s;
}

.w-btn-neon2:hover {
  transform: scale(1.2);
}

.w-btn-neon2:hover::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #dfbdff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}


/* 검색창 끝 */
/* nav바 */
.nav-style {
  background-color: rgb(255, 121, 40);
  border-radius: 5rem;
  border: 1px solid rgb(255, 121, 40);
  box-shadow: 0.1em 0.1em 5px 1px #dcdcdc;
  width: 80px;
  text-align: center;
}

/* nav바 */
.container_>li {
  background-color: whitesmoke;
  box-shadow: #30950e 0px 1px 0 2px;
  margin-left: 8px;
  margin-right: 12px;
}

.container_ {
  position: relative;
}

.navi_profile_box {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;
  cursor: pointer;
}

.navi_profile_img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* singup.html에서 유효성 검사 실패시 */
.errorlist {
  display: flex;
  display: inline-block;
  font-size: 1rem;
  line-height: 16px;
  letter-spacing: -.5px;
  color: #ff003e;
  vertical-align: middle;
}