/* pro_index css */

.top_banner {
  width: 1280px;
  height: 500px;
  border: 1px solid;
  border-radius: 3rem;
  background-color: rgb(245, 245, 245);
  align-items: center;
  justify-content: center;
}

@media(max-width:800px) {
  section {
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
}

.top_banner .img_box {
  width: 600px;
  height: 380px;
  opacity: 0.8;
  overflow: hidden;
  border-radius: 3rem;

}

.top_banner h1 {
  letter-spacing: 3px;
}

.top_banner .img_box img {
  max-width: 100%;
}

.btn_1 {
  width: 250px;
  height: 40px;
  background-color: coral;
  box-shadow: 3px 3px 3px rgb(121, 121, 121);

}

.btn_1:hover {
  background-color: rgb(255, 162, 129);

}

.btn_2 {
  background-color: rgb(243, 243, 243);
  box-shadow: 3px 3px 3px rgb(121, 121, 121);
}

.mid_banner {
  width: 1280px;
  height: 200px;
  border: 1px solid;
  border-radius: 3rem;
}