{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css%}

{% block content %}


<div class="container my-5">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <!-- 유저 프로필 이미지  -->
    <div>
      {% if user.profile.image %} 
      <img src="{{ user.profile.image.url }}" style="border-radius: 70%; max-width: 100%;" alt="">
      {% else %}
      <img src="{% static 'images/dummy-image-square.jpg' %}" style="border-radius: 70%; max-width: 200px;" alt="">
      {% endif %}
      <!-- 여기까지 유저 프로필 이미지  -->
    </div>
    <!--프로필 / 팔로우(팔로잉)-->
    <div class="ms-5 w-100">
      <!-- 프로필 수정 / 공개프로필 버튼 -->
      <div class="d-flex align-items-center mb-2">

        <h1 class="mb-0" style="font-size: 30px;">{{ user.profile.nickname }}님의 프로필</h1>

       
      
        {% if user == request.user %}
        <!--버튼-->
        <div class=" d-flex gap-2">
          <a href="{% url 'accounts:update' user.pk %}">
            <input type="button" class="btn ms-3 follow-btn-hover color-2" style="width: 100%; height: 40px; background-color: #4b3a88; color: white;" value="프로필 수정">
          </a>
          <a href="{% url 'accounts:open_profile' user.pk %}">
            <input type="button" class="btn ms-3 follow-btn-hover color-2" style="width: 100%; height: 40px; background-color: #4b3a88; color: white;" value="공개프로필 보기">
          </a>
        </div>
        {% endif %}
      </div>
            
      <!-- 가입날짜 표시 시간까지 세세하게 표현하고 싶다면  h:i:s 추가-->
      <h4> {{request.user.username}}</h4>
      <p> 가입일 : {{ user.date_joined | date:'Y년-m월-d일 h:i:s' }} </p>

      <!-- 팔로잉 / 팔로워 collapse 시작 -->
      <!-- collapse 버튼 -->
      <div class="text-primary mb-1">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          팔로잉 <span id="followings-count">{{ user.followings.count }}</span>
        </a>
        <a class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
          팔로워 <span id="followers-count">{{ user.followers.count }}</span>
        </a>
        <button style="border:none; background-color:transparent;" onClick="window.location.reload()"><i style="font-size: 1.5rem;" class="bi bi-arrow-repeat"></i></button>
      </div>
      <!-- 소개글 (프로필에서 삭제했고, 오픈 프로필로 이동했습니다. 여기 추가 ㄴㄴ)-->
    

      <!-- 팔로잉 collapse 내용 -->
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          {% if user.followings.all %}
          <div class="feed_name">
            <div class="gap-3" style="display: flex; align-items: center; flex-direction: row;">
              {% for following in user.followings.all %}
              <a href="{% url 'accounts:open_profile' following.pk %}"  style="color: black; text-decoration: none;">
                <!-- 프로필 이미지가 있으면 -->
                {% if following.profile.image %}
                <div class="navi_profile_box mx-auto">
                  <img class="navi_profile_img" src="{{ following.profile.image.url }}">
                </div>
                {% else %}
                <div class="navi_profile_box mx-auto">
                  <img class="navi_profile_img" src="{% static 'images/dummy-image-square.jpg' %}">
                </div>
                {% endif %}
                <!-- 이름이 있으면 이름, 없으면 아이디 -->
                {% if following.profile.nickname != null %}
                <span class="name_content_txt text-center"> {{following.profile.nickname}}</span>
                {% else %}  
                <span class="name_content_txt text-center"> {{following.username}}</span>
                {% endif %}
              </a>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <div class="text-center">다른 사람을 팔로우 하지 않았어요!</div>     
          {% endif %}
        </div>
      </div>

      <!-- 팔로워 collapse 내용 -->      
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          {% if user.followers.all %}
          <div class="feed_name">
            <div class="gap-3" style="display: flex; align-items: center; flex-direction: row;;">
              {% for follower in user.followers.all %}
              <a href="{% url 'accounts:open_profile' follower.pk %}" class="modal-followers" style="color: black; text-decoration: none;">
                <!-- 프로필 이미지가 있으면 -->
                {% if follower.profile.image %}
                <div class="navi_profile_box mx-auto">
                  <img class="navi_profile_img" src="{{ follower.profile.image.url }}">
                </div>
                {% else %}
                <div class="navi_profile_box mx-auto">
                  <img class="navi_profile_img" src="{% static 'images/dummy-image-square.jpg' %}">
                </div>
                {% endif %}
                
                <!-- 이름이 있으면 이름, 없으면 아이디 -->
                {% if follower.profile.nickname != null %}
                <span class="name_content_txt text-center"> {{follower.profile.nickname}}</span>
                {% else %}  
                <span class="name_content_txt text-center"> {{follower.username}}</span>
                {% endif %}
              </a>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <div class="text-center">팔로우 눌러준 유저가 없어요!</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr><!--가로줄-->
  <!--리뷰갯수/좋아요/북마크-->
  <div class="d-flex justify-content-between mb-4">
    <div class="mb-3" style="display: flex; flex-direction: row; margin-right: 100px">
      <!--리뷰 갯수(collapse)-->
      <div class="d-flex">
        <div style="margin-right: 30px;">
          <a id="link_user_articles" data-bs-toggle="collapse" href="#user_articles" role="button" aria-expanded="false" aria-controls="collapseExample" class="me-3">
            리뷰 갯수<span class="ms-1">{{reviews_count}}</span>
          </a>
        </div>
      </div>
      <!--좋아요 글-->
      <div class="d-flex">
        <div style="margin-right: 30px;">
          <a id="link_like_articles" data-bs-toggle="collapse" href="#like_articles" role="button" aria-expanded="false" aria-controls="collapseExample" class="me-3">
            좋아요 누른 글<span class="ms-1">{{like_reviews_count}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--리뷰 갯수(collapse) 내용 시작-->
  <div class="collapse" id="user_articles">
    <div class="row row-cols-2 gap-3 justify-content-center">
      {% for review in reviews %}
      <div class="card align-items-center col" style="width: 150px;">
        <a href="{% url 'review:detail' review.book_id %}">
          <div class="img_box d-flex align-items-center justify-content-center">
            {% if review.book_image %}
            <img src="{{ review.book_image.image.url }}"  alt="{{book.title}}_img">
            {% else %}
            <img src="{% static 'images/dummy-image-square.jpg' %}"  alt="dummy_img">
            {% endif %}
      </div>
        </a>
        <div class="card-body">
          <p class="card-title">{{review.title}}</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-between">
            <div class="row flex-nowrap">
              {% if review.rating == 5 %}
              <h6>⭐⭐⭐⭐⭐</h6>
              {% elif review.rating == 4 %}
              <h6>⭐⭐⭐⭐</h6>
              {% elif review.rating == 3 %}
              <h6>⭐⭐⭐</h6>
              {% elif review.rating == 2 %}
              <h6>⭐⭐</h6>
              {% elif review.rating == 1 %}
              <h6>⭐</h6>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
</div>
  <!--리뷰 갯수(collapse) 내용 종료-->
  {% if request.user == user %}
  <!--회원탈퇴-->
  <div style="text-align: center;">
    <button class=""><a onclick="return confirm('정말 탈퇴하시겠습니까?');" href="{% url 'accounts:delete' %}" class="list-group-item list-group-item-action text-center ">회원탈퇴</a></button>
  </div>
  {% endif %}
</div>
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/profile_follow.js' %}"></script> <!--유저 팔로우 비동기 js -->
  <script> 
    const link_user_articles = document.querySelector('#link_user_articles')
    const link_like_articles = document.querySelector('#link_like_articles')
    const link_bookmark_articles = document.querySelector('#link_bookmark_articles')
    const user_articles = document.querySelector('#user_articles')
    const like_articles = document.querySelector('#like_articles')
    const bookmark_articles = document.querySelector('#bookmark_articles')

    const userCollapse = new bootstrap.Collapse('#user_articles', {
      toggle: false
    })
    const likeCollapse = new bootstrap.Collapse('#like_articles', {
      toggle: false
    })

    if (bookmark_articles) {
      const bookmarkCollapse = new bootstrap.Collapse('#bookmark_articles', {
        toggle: false
      })
    
      user_articles.addEventListener('show.bs.collapse', event => {
        likeCollapse.hide()
        bookmarkCollapse.hide()
      })
      like_articles.addEventListener('show.bs.collapse', event => {
        userCollapse.hide()
        bookmarkCollapse.hide()
      })
      bookmark_articles.addEventListener('show.bs.collapse', event => {
        userCollapse.hide()
        likeCollapse.hide()
      })
    } else {
      user_articles.addEventListener('show.bs.collapse', event => {
        likeCollapse.hide()
      })
      like_articles.addEventListener('show.bs.collapse', event => {
        userCollapse.hide()
      })
    }
  </script>
  <!-- 팔로우, 팔로잉 유저 표시 자바스크립트 -->
  <script type="text/javascript" src="{% static 'js/followers,folloings collapse.js' %}"></script>
{% endblock script %}