{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <div>
      <!-- 유저 프로필 이미지  -->
      {% if user.profile.image %} 
      <img src="{{ user.profile.image.url }}" style="border-radius: 70%; max-width: 100%;" alt="">
      {% else %}
      <img src="{% static 'images/dummy-image-square.jpg' %}" style="border-radius: 70%; max-width: 200px;" alt="">
      {% endif %}
    <!-- 여기까지 유저 프로필 이미지  -->
    </div>
    <div class="ms-5 w-100">
      <div class="d-flex align-items-center mb-2">
        {% if user.profile.nickname %}
        <h1 class="mb-0" style="font-size: 30px;">{{ user.profile.nickname }}님의 프로필</h1>
        {% else %}
        <h1 class="mb-0" style="font-size: 30px;">프로필 수정에서 닉네임을 입력해주세요</h1>
        {% endif %}
       <!-- 회원 정보 수정 & 팔로우 버튼 및 팔로잉, 팔로워 수 -->
       {% if user == request.user %}
       <a href="{% url 'accounts:update' user.pk %}">
         <input type="submit" class="btn ms-3 follow-btn-hover color-2" style="width: 100%; height: 40px; background-color: #4b3a88; color: white;" value="프로필 수정">
       </a>
       {% elif request.user.is_authenticated %}
         <form id="follow-form" data-user-id="{{ user.pk }}">
           {% csrf_token %}
           {% if request.user in user.followers.all %}
             <input id="follow-btn" type="submit" class="btn ms-3 follow-btn-hover color-2" style="width: 100%; height: 40px; background-color: #262564; color: white;" value="언팔로우">
           {% else %}
             <input id="follow-btn" type="submit" class="btn ms-3 follow-btn-hover color-2" style="width: 100%; height: 40px; background-color: #13185c; color: white;" value="팔로우">
           {% endif %}
         </form>
       {% endif %}
     </div>

      <p class="text-primary mb-1">팔로잉 <span id="followings-count">{{ user.followings.count }}</span>  팔로워 <span id="followers-count">{{ user.followers.count }}</span></p>
      {% if request.user == user %}
      <a onclick="return confirm('정말 탈퇴하시겠습니까?');" href="{% url 'accounts:delete' %}" class="list-group-item list-group-item-action">회원탈퇴</a>
      {% endif %}
       <!--여기까지 회원 정보 수정 & 팔로우 버튼 및 팔로잉, 팔로워 수  -->

    </div>
  </div>
  <hr>
   <!--작성 글, 좋아요 모아보기(구현예정) -->
    <h5>작성 글</h5>
    
  <div>
 
             <!-- {% comment %}<div class="d-flex justify-content-between mb-4">
        
          <div class="mb-3" style="display: flex; flex-direction: row; margin-right: 100px">
            <div class="d-flex">
              <div style="margin-right: 30px;"><a id="link_user_articles" data-bs-toggle="collapse" href="#user_articles" role="button" aria-expanded="false" aria-controls="collapseExample" class="me-3">
              게시글<span class="ms-1">{{reviews_count}}</a></span></div>
            </div>
            <div class="d-flex">
              <div style="margin-right: 30px;"><a id="link_like_articles" data-bs-toggle="collapse" href="#like_articles" role="button" aria-expanded="false" aria-controls="collapseExample" class="me-3">좋아요 누른 글
              <span class="ms-1">{{like_reviews_count}}</span> </a></div></div>
    </a>{% endcomment %} --> 
  </div>
  <!--여기까지 작성 글, 좋아요 모아보기(구현예정) -->
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/profile_follow.js' %}"></script> <!--유저 팔로우 비동기 js -->

{% endblock script %}
