{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mt-5">ㅇㅇㅇ 님의 프로필</h1>
<section>
  <!--프로필-->
  <div>
    <div>
      <img src="" alt="">
      <h4>닉네임</h4>
      <p>독토 매칭 찾고 있습니다</p><!--매칭 휴식중이면 "독토 매칭 휴식중 입니다"로 변경 되도록 하려합니다-->
    </div>
  </div>
  <!--선호나이-->
  <div>
    <div class="border-success">
      라운딩으로 둥글게?할까요?
    </div>
  </div>
  <!--활동지역-->
  <div>
    <p>경기 북부</p>
  </div>
  <!--선호시간-->
  <div>
    <p>체크박스형식으로 받아서 보이도록 하려합니다.</p>
    <a href="https://maximum-curry30.tistory.com/260">참고1</a>
    <a href="https://jungwonjang.tistory.com/35">참고2</a>
  </div>
  <!--선호장르-->
  <div>
    <p>스릴러</p>
  </div>
  <!--하고 싶은 말-->
  <div>
    <p>좋은 사람있으면 오세요~</p>
  </div>
</section>

{% endblock content %}