{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<style>
  .navi_profile_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .navi_profile_box {

    border-radius: 70%;
    overflow: hidden;

  }
</style>
{% endblock css %}
{% block content%}
<div style="background-color:#198754;min-height: 900px;">
  <div class="container" style="padding-top: 60px;
  max-width: 700px; min-width: 650px;">
    <div style="display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: whitesmoke;
    padding-bottom: 50px; border: solid;
    border-radius: 15px;">

      <div class="row" style="max-width: 600px;">
        <div class="col-auto">
          <h5 class="mb-3">발신자 :
            {% if note.from_user.profile.image %}
            <img src="{{ note.from_user.profile.image.url}}" class="mx-1" width="45" height="45">
            {% else %}
            <img src="{% static 'images/no-profile.jpg' %}" class="mx-1" width="45" height="45">
            {% endif %}
            {{ note.from_user.username }} - (닉네임: {{ note.from_user.profile.nickname }})
          </h5>
          <hr>
        </div>
        <div style=" width: 0; margin-left: 40px;">
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" style="width: 130px;
          height: 37px;
          " data-bs-toggle="dropdown" aria-expanded="false">
              메뉴
            </button>
            <ul class="dropdown-menu" style="--bs-dropdown-min-width: 8rem;background-color: whitesmoke;
            box-shadow: #30950e 0px 0px 0 2px;">
              <li>
                <a class="dropdown-item text-center" href="{% url 'notes:mail' %}">메일 보내기</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item text-center" href="{% url 'notes:index' %}">받은 메일함</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item text-center" href="{% url 'notes:sent' %}">보낸 메일함</a>
                </th>
              </li>

            </ul>
          </div>
        </div>
        <h5 class="mb-3">받은 시간 :
          {{ note.created_at|date:'y년 m월 d일 H:m' }}</h5>
        <hr>
        <h5 class="mb-3">제목 :
          {{ note.title }}</h5>
        <hr>
        <h5 class="mb-3">내용 :</h5>
        <textarea rows="4" cols="50">{{note.content}}</textarea>
        <hr>

      </div>
    </div>
  </div>
</div>
{% endblock %}