{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block css %}
<style>
  a {
    text-decoration: none;
    color: black;
  }
</style>
{% endblock css %}
{% block content%}
<div style="background:#198754; min-height: 900px;">
  <div class="container" style="padding-top: 50px; background-color: #ffffff; min-height: 900px; padding-right: 0;
  max-width: 1250px;
  padding-left: 0;">
    <div id="main_in" class="row text-center">
      <div class="col-1" style="transform: translate(930%, 0%);">
        <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle" style="width: 100px; margin-right:50px;"
            data-bs-toggle="dropdown" aria-expanded="false">
            메뉴
          </button>
          <ul class="dropdown-menu" style="--bs-dropdown-min-width: 8rem;background-color: whitesmoke;
        box-shadow: #30950e 0px 0px 0 2px;">
            <li><a class="dropdown-item text-center" href="{% url 'notes:mail' %}">메일 보내기</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-center" href="{% url 'notes:index' %}">받은 메일함</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-center" href="{% url 'notes:sent' %}">보낸 메일함</a></li>
          </ul>
        </div>
      </div>
      {% if request.resolver_match.url_name == 'index' %}
      <div class="col-9 ms-5 me-3">
        <table class="table bg-white">
          <!--테이블 비율-->
          <colgroup>
            <col width="20%" /><!--보낸사람.-->
            <col width="35%" /><!--제목-->
            <col width="10%" /><!--읽음-->
            <col width="10%" /><!--삭제-->
            <col width="25%" /><!--받은시간-->
          </colgroup>
          <!--테이블 헤드-->
          <thead>
            <h2 class="fw-bold mb-5"> 받은 메일함</h2>
            <tr class="table-success mt-3">
              <th scope="col">보낸 사람</th>
              <th scope="col">제목</th>
              <th scope="col">읽음</th>
              <th scope="col">삭제</th>
              <th scope="col">받은 시간</th>
            </tr>

          <tbody>
            {% for note in notes %}
            <!--받은 메일함에서-->
            {% if note.read == 1 %} <!-- 메일 봤다 -->
            <tr class="text-muted" id="{{note.pk}}">
              {% if note.to_user.profile.nickname %}
              <td>{{ note.to_user.profile.nickname }}</td>
              {% else %}
              <td>{{ note.to_user.username }}</td>
              {% endif %}
              <td><a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td>

              {% if note.read == 1 %}
              <td>읽음</td>
              {% else %}
              <td>안읽음</td>
              {% endif %}
              <td>
                <a href="{% url 'notes:delete' note.pk %}"><img
                    src="https://cdn-icons-png.flaticon.com/512/8056/8056372.png" width="25" height="25"></a>
              </td>
              <td>{{ note.created_at|date:'o.m.d H:i' }}</td>
            </tr>
            {% else %}
            <!--받은 메일함에서-->
            <tr id="{{note.pk}}"> <!-- 메일 안봤다. -->
              {% if note.from_user.profile.nickname %}
              <td>{{ note.from_user.profile.nickname }}</td>
              {% else %}
              <td>{{ note.from_user.username }}</td>
              {% endif %} <!--사람-->
              <td><a href="{% url 'notes:detail' note.pk %}" class="fw-bold">{{ note.title }}</a></td> <!--제목-->
              {% if note.read == 1 %}
              <td>읽음</td>
              {% else %}
              <td class="text-font">안읽음</td>
              {% endif %}<!--읽엇는지 여부-->
              <td>
                <a href="{% url 'notes:delete' note.pk %}"><img
                    src="https://cdn-icons-png.flaticon.com/512/8056/8056372.png" width="25" height="25"></a>
              </td>
              <td>{{ note.created_at|date:'o.m.d H:i' }}</td><!--받은 시간-->

            </tr><!--삭제-->
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% elif request.resolver_match.url_name == 'sent' %}
      <div class="col-9 ms-5 me-3">
        <table class="table bg-white">
          <!--테이블 비율-->
          <colgroup>
            <col width="20%" /><!--받는사람.-->
            <col width="35%" /><!--제목-->
            <col width="10%" /><!--읽음-->
            <col width="10%" /><!--삭제-->
            <col width="25%" /><!--보낸시간-->
          </colgroup>
          <!--테이블 헤드-->
          <thead>
            <div style="margin-bottom: 3rem;">
              <h2 class="fw-bold" style="margin-bottom: 30px"> 보낸 메일함</h2>
            </div>
            <tr class="table-success mt-3">
              <th scope="col">받는 사람</th>
              <th scope="col">제목</th>
              <th scope="col">읽음</th>
              <th scope="col">삭제</th>
              <th scope="col">보낸 시간</th>
            </tr>

          <tbody>
            <!--보낸 메일함에서-->
            {% for note in to_notes %}

            {% if note.read == 1 %} <!-- 메일 봤다. -->
            <tr class="text-muted" id="{{note.pk}}">
              {% if note.to_user.profile.nickname %}
              <td>{{ note.to_user.profile.nickname }}</td>
              {% else %}
              <td>{{ note.to_user.username }}</td>
              {% endif %}
              <td><a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td>
              {% if note.read == 1 %}
              <td>읽음</td>
              {% else %}
              <td>안읽음</td>
              {% endif %}
              <td>
                <a href="{% url 'notes:delete' note.pk %}"><img
                    src="https://cdn-icons-png.flaticon.com/512/8056/8056372.png" width="25" height="25"></a>
              </td>
              <td>{{ note.created_at|date:'o.m.d H:i' }}</td>
            </tr>
            {% else %}
            <!--보낸 쪽지함에서-->
            <tr id="{{note.pk}}"> <!-- 메일 안봤다. -->
              {% if note.to_user.profile.nickname %}
              <td>{{ note.to_user.profile.nickname }}</td>
              {% else %}
              <td>{{ note.to_user.username }}</td>
              {% endif %}
              <td><a href="{% url 'notes:detail' note.pk %}" class="fw-bold">{{ note.title }}</a></td>

              {% if note.read == 1 %}
              <td>읽음</td>
              {% else %}
              <td>안읽음</td>
              {% endif %}
              <td>
                <a href="{% url 'notes:delete' note.pk %}" class="note-delete-forms"><img
                    src="https://cdn-icons-png.flaticon.com/512/8056/8056372.png" width="25" height="25"></a>
              </td>
              <td>{{ note.created_at|date:'o.m.d H:i' }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
<script>
  const noteDeleteForms = document.querySelectorAll('.note-delete-forms')
  noteDeleteForms.forEach(form => {
    form.addEventListener('submit', event => {
      event.preventDefault()
      const noteId = event.target.dataset.noteId

      axios({
        method: 'post',
        url: `/${noteId}/delete/`,
        headers: { 'X-CSRFToken': csrfToken },
      })
        .then(response => {
          const note = document.querySelector(`#note-${noteId}`)
          const is_deleted = response.data.is_deleted

          if (is_deleted === true) {
            note.remove()
          }
        })
    })
  })
</script>