{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mail.css' %}">
{% endblock css %}
{% block content%}

<div class="container d-flex justify-content-center p-5">
  <div class="container" style="margin: auto; display:contents;">
    <div class="row" style="display:flex; justify-content: center; width: 540px;">
      <h4 class="text-center mb-3" style="    background: #198754;
      color: #ffffff;
      max-width: 450px;
      height: 30px;
      margin-right: 16rem;
      margin-left: 16rem; border-radius: 5px; padding-left: 0;">메일 쓰기
        <div style="
        position: absolute;
        margin-top: -28px;">
          <div class="btn-group" style="vertical-align: baseline;">
            <button type="button" class="btn btn-success dropdown-toggle"
              style="height: 23px;padding-top: 0px; padding-bottom: 10px;" data-bs-toggle="dropdown"
              aria-expanded="false">
              메뉴
            </button>
            <ul class="dropdown-menu" style="--bs-dropdown-min-width: 8rem; background-color: whitesmoke;
          box-shadow: #30950e 0px 0px 0 2px;">
              <li>
                <a class="dropdown-item text-center" href="{% url 'notes:mail' %}">메일 보내기</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item text-center" href="{% url 'notes:index' %}">받은 메일함</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item text-center" href="{% url 'notes:sent' %}">보낸 메일함</a>
                </th>
              </li>
            </ul>
          </div>
        </div>

      </h4>
      <div class="col-sm-12 col-md-12" style="max-width: 450px;padding: 0;">
        <form action="{% url 'notes:mail' %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="image" src="https://cdn-icons-png.flaticon.com/512/439/439328.png" class="btn btn-success"
            onMouseOver="this.src='https://cdn-icons-png.flaticon.com/512/439/439277.png'"
            onMouseOut="this.src='https://cdn-icons-png.flaticon.com/512/439/439328.png'" style="border: white;
          background-color: rgba(255,255,255,0);
          width: 100%;
          max-width: 45px;
          position: relative; margin-top: -64.7rem;
          margin-left: 25.5rem;">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}