{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  {% bootstrap_css %}
  {% block css %}{% endblock css %}
  <!-- Bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--nav font-->
  <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
  <!-- nav font-->
  <title> 독토 </title>
  <script defer src="{% static 'js/indexjs.js'%}"></script>
  <style>
    .navi_profile_box {
      width: 50px;
      height: 50px;
      border-radius: 70%;
      overflow: hidden;
      cursor: pointer;
    }

    .navi_profile_img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  </style>
</head>

<body>
  <!--내비바 시작-->
  <nav class="navbar navbar-expand-lg bg-light" style="padding: 0px; box-shadow: 0.1em 0.1em 5px 0.5px #bfbfbf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'review:pro_index' %}"> <img
          src="https://cdn-icons-png.flaticon.com/512/3296/3296160.png" style="width: 52px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav" style="font-family: 'Black And White Picture', sans-serif; font-size: x-large;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'review:index' %}">독토</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              장르
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'review:genre' %}">장르별목록(임시)</a></li>
              <li><a class="dropdown-item" href="{% url 'review:detail' %}">도서디테일(임시)</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'review:matching' %}">매칭서비스</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">전체 후기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'review:create' %}">책 리뷰</a>
          </li>
        </ul>
        <!--search_box-->
        <div class="search-box">
          <form action="" method="get">
            {% csrf_token %}
            <input class="search-txt" id="search" type="search" placeholder="도서 검색" size="15" name="q" value="{{q}}"
              style="vertical-align: top;">
            <button class="search-btn" id="searchBtn" type="submit" maxlength="50" style="height: 27px;width:32px;">
              <img src="{% static 'images/book2.jpg' %}" alt="" class="jb-b" style="width:190%; margin-right:5px;">
              <img src="{% static 'images/book.gif' %}" alt="" class="jb-c" style="width: 10%; margin-top: 2px; margin-right: 5px;">
            </button>
          </form>
        </div>
        <!--search_box-->
        <!--우측 로그인/회원가입 & 프로필/로그아웃-->
        <div class="navbar-nav gap-3 d-flex align-items-center flex-row" style="font-family: 'Single Day', cursive;">
          {% if request.user.is_authenticated %}
  
          <div class="nav-item fw-bold">
            <a class="nav-link d-flex align-items-center gap-2" aria-current="page" href="{% url 'accounts:profile' request.user.pk %}">
              <div class="navi_profile_box">
                {% if request.user.profile.image %}
                <img src="{{ request.user.profile.image.url }}" class="navi_profile_img">
                {% endif %}
              </div>
              {% if request.user.profile.nickname != null %}
              {{ request.user.profile.nickname }}
              {% else %}
              {{request.user.username}}
              {% endif %}
            </a>
          </div>
          <div class="nav-item fw-bold">
            <a class="nav-link" aria-current="page" href="{% url 'accounts:logout' %}">
              로그아웃</a>
          </div>
          {% else %}
          <div class="nav-item fw-bold">
            <a class="nav-link nav-style" aria-current="page" href="{% url 'accounts:signup' %}">회원 가입</a>
          </div>
          <div class="nav-item fw-bold">
            <a class="nav-link nav-style" aria-current="page" href="{% url 'accounts:login' %}">로그인</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <!--내비바 끝-->
  <header></header>

  {% block content%}
  {% endblock content %}
  <script src="/static/js/script.js"></script>
  <!--검색창 클릭 효과 시작-->
  <script>
    var div2 = document.getElementsByClassName("search-txt");

    function handleClick(event) {
      console.log(event.target);
      // console.log(this);
      // 콘솔창을 보면 둘다 동일한 값이 나온다

      console.log(event.target.classList);

      if (event.target.classList[1] === "clicked") {
        event.target.classList.remove("clicked");
      } else {
        for (var i = 0; i < div2.length; i++) {
          div2[i].classList.remove("clicked");
        }

        event.target.classList.add("clicked");
      }
    }

    function init() {
      for (var i = 0; i < div2.length; i++) {
        div2[i].addEventListener("click", handleClick);
      }
    }

    init();
  </script>
  <!--검색창 클릭 효과 끝-->



  <!--footer 시작-->
  <footer class="fixed-bottom text-center bg-white">© 2022 Docto, 독서 토론 매칭 by 2조</footer>
  </div>
  </footer>
  <!--footer 끝-->
  <!-- Bootstrap JS -->

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- Moment.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <!-- Scripts -->
  {% block script %}{% endblock script %}
</body>

</html>